<div [ngClass]="isInfo ? 'show-division':'hide-division'">

  <mat-card appearance="outlined" class="mat-elevation-z8 itemInformation-mat-card">
    <mat-card-content class="cardBackground">
      <div class="subdivisionTitle">{{ subInfoTitle }}</div>

      <!-- Technicalities -->
      @if (technicalitiesNumber > 0) {
      <div class="listStyle">
        @for (P of technicalities; track P) {
        <div class="labelTitlePadding">
          <span class="propertyStyle hover-bg-light"
                matTooltip="[{{P.id}}] {{P.description || ''}}"
                matTooltipPosition="right">
            {{P.label}}:
          </span>
        </div>
        @for (M of P; track M) {
        <div class="statementStyle">
          <div [ngStyle]="{'background-color': (M.rank=='deprecated') ? '#f1f1f1' : '#ffffff'}">
            @if (M.mainsnak.datatype === 'string') {
            <span class="displayLayout">{{M.mainsnak.label}}</span>
            }
            @if (M.mainsnak.datatype === 'wikibase-item') {
            <span>
              {{M.mainsnak.label}}
              <mat-icon-button class="internalLink" [routerLink]="['/item', M.mainsnak.datavalue.value.id]">
                <mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
              </mat-icon-button>
              <span *ngIf="M.mainsnak.description" class="description-text">({{M.mainsnak.description}})</span>
            </span>
            }
            @if (M.rank=='deprecated') {
            <span class="warningDeprecated"> &nbsp;({{M.rank}})</span>
            }
          </div>
        </div>
        }
        }
      </div>
      <hr>
      }

      <!-- Nature Of -->
      @if (isList4) {
      <div class="listStyle">
        <div class="labelTitlePadding">
          <span class="propertyStyle hover-bg-light">
            {{ natureOfListTitle }} ({{ list4Number }}) {{ suffix1 }}
          </span>
        </div>
        @for (L of list4; track L) {
        <div class="statementStyle">
          <span class="propertyStyle">{{ L.itemLabel?.value }}</span>
          @if (L.itemDescription) {
          <span class="description-text">({{ L.itemDescription.value }})</span>
          }
          <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]">
            <mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
          </mat-icon-button>
        </div>
        }
      </div>
      <hr>
      }

      <!-- Classes -->
      @if (isList3) {
      <div class="listStyle">
        <div class="labelTitlePadding">
          <span class="propertyStyle hover-bg-light">
            {{ prefix1 }} ({{ list3Number }}) {{ classesListTitle }}
          </span>
        </div>
        @for (L of list3; track L) {
        <div class="statementStyle">
          <span class="propertyStyle">{{ L.itemLabel?.value }}</span>
          @if (L.itemDescription) {
          <span class="description-text">({{ L.itemDescription.value }})</span>
          }
          <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]">
            <mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
          </mat-icon-button>
        </div>
        }
      </div>
      <hr>
      }

      <!-- Subclasses -->
      @if (isList1) {
      <div class="listStyle">
        <div class="labelTitlePadding">
          <span class="propertyStyle hover-bg-light">
            {{ prefix2 }} ({{ list1Number }}) {{ subclassesListTitle }}
          </span>
        </div>
        @for (L of list1; track L) {
        <div class="statementStyle">
          <span class="propertyStyle">{{ L.itemLabel?.value }}</span>
          @if (L.itemDescription) {
          <span class="description-text">({{ L.itemDescription.value }})</span>
          }
          <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]">
            <mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
          </mat-icon-button>
        </div>
        }
      </div>
      <hr>
      }

      <!-- Instances -->
      @if (isList2) {
      <div class="listStyle">
        <div class="labelTitlePadding">
          <span class="propertyStyle hover-bg-light">
            {{ instancesListTitle }} ({{ list2Number }})
          </span>
        </div>
        @for (L of list2; track L) {
        <div class="statementStyle">
          <span class="propertyStyle">{{ L.itemLabel?.value }}</span>
          @if (L.itemDescription) {
          <span class="description-text">({{ L.itemDescription.value }})</span>
          }
          <mat-icon-button class="internalLink" [routerLink]="['/item', L.item.id]">
            <mat-icon color="primary" [inline]="true">open_in_new</mat-icon>
          </mat-icon-button>
        </div>
        }
      </div>
      <hr>
      }

    </mat-card-content>
  </mat-card>
</div>
