<body>
  <div class="cardBackground">
    <div class="prosopo-header">
      <div class="prosopo-title">
        {{prosopography}}
      </div>
      <div class="search-center">
        <a [routerLink]="['']">Accueil</a>
        <span>&nbsp;|&nbsp;</span>
        <a [routerLink]="['/harmonia_universalis']">Bibliography</a>
        <span>&nbsp;|&nbsp;</span>
        <a [routerLink]="['/search']">FactGrid</a>
      </div>
    </div>
  </div>

  <mat-card appearance="outlined" class="mat-elevation-z12">
    <mat-card-content class="cardBackground">

      <div class="labelTitlePadding filter-bar">
        <div class="filter-left">
          <mat-form-field appearance="outline">
            <input matInput (keyup)="applyGeneralFilter($event)" placeholder="Recherchez">
          </mat-form-field>
        </div>
        <div class="filter-right">
          <mat-form-field appearance="outline">
            <input matInput (keyup)="applyNameFilter($event)" placeholder="Filtrez par nom">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Filtrez par société" (selectionChange)="applySocietyFilter($event.value)">
              <mat-option value="">Aucun filtre de Société</mat-option>
              @for (soc of societyOptions; track soc) {
              <mat-option [value]="soc" class="styling-option">{{ soc }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          {{ dataSource.filteredData.length }} items
        </div>
      </div>

      @if (isMobile) {
      <div class="mobile-sort-buttons">
        @for (col of displayedColumns; track col) {
        @if (col === 'label') {
        <button mat-button
                (click)="setSort(col)"
                [color]="sort?.active === col ? 'primary' : ''"
                class="sort-btn">
          {{ getHeaderLabel(col) }}
          @if (sort?.active === col) {
          <mat-icon>
            {{ sort?.direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
          </mat-icon>
          }
        </button>
        }
        }
      </div>
      }


      @if (isSpinner) {
      <mat-progress-spinner mode="indeterminate"
                            color="primary"
                            diameter="50"
                            style="margin: 2rem auto; display: block;">
      </mat-progress-spinner>
      }

      @if (!isSpinner) {
      <div class="mat-elevation-z8 container">
        <table mat-table class="mat-table"
               [dataSource]="dataSource"
               matSort
               matSortActive="label"
               matSortDirection="asc">

          @for (column of displayedColumns; track column) {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ getHeaderLabel(column) }}
            </th>
            <td mat-cell *matCellDef="let element"
                class="responsive-cell"
                [attr.data-label]="getHeaderLabel(column)">
              @switch (column) {
              @case ('label') {
              @if (element.person) {
              <span class="label-with-icon">
                <span>{{ element.person.label }}</span>
                @if (element.person.id) {
                <button mat-icon-button
                        class="compact-icon-btn"
                        [routerLink]="'/item/' + element.person.id"
                        matTooltip="Voir la personne dans la base de données">
                  <mat-icon color="primary" [inline]="true" class="small-icon">open_in_new</mat-icon>
                </button>
                }
              </span>
              } @else {
              <span class="text-muted">[Inconnu]</span>
              }
              }
              @case ('description') {
              @if (element.person) {
              {{ element.person.description }}
              } @else {
              <span class="text-muted">[Aucune]</span>
              }
              }
              @case ('society') {
              @if (element.society) {
              <span>
                {{ element.society.label }}
                @if (element.society.id) {
                <button mat-icon-button
                        class="compact-icon-btn"
                        [routerLink]="'/item/' + element.society.id"
                        matTooltip="Voir la société dans la base de données">
                  <mat-icon color="primary" [inline]="true" class="small-icon">open_in_new</mat-icon>
                </button>
                }
              </span>
              } @else {
              <span class="text-muted">[Aucune]</span>
              }
              }
              @default {
              <span>{{ element[column] }}</span>
              }
              }
            </td>
          </ng-container>
          }

          <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" class="responsive-row"></tr>
        </table>

        <mat-paginator #paginator
                       class="demo-paginator"
                       (page)="handlePageEvent($event)"
                       [length]="length"
                       [pageSize]="pageSize"
                       [disabled]="disabled"
                       [showFirstLastButtons]="showFirstLastButtons"
                       [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                       [hidePageSize]="hidePageSize"
                       [pageIndex]="pageIndex"
                       aria-label="Select page">
        </mat-paginator>
      </div>
      }

      <div>
        <span>
          <button mat-icon-button color="primary" class="internalLink" #content (click)="onClick(this.dataSource.filteredData)">
            <mat-icon color="primary" [inline]="true">download</mat-icon>
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
      </div>

    </mat-card-content>
  </mat-card>
</body>

