<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="cardBackground">
    <div class="hu-header">
      <div class="hu-title">
        {{biblioHU}}
      </div>
      <div class="search-center">
        <a [routerLink]="['']">Accueil</a>
        <span>&nbsp;|&nbsp;</span>
        <a [routerLink]="['/prosopography']">Prosopography</a>
        <span>&nbsp;|&nbsp;</span>
        <a [routerLink]="['/search']">FactGrid</a>
      </div>
    </div>
  </div>

  <mat-card appearance="outlined" class="mat-elevation-z12">
    <mat-card-content class="cardBackground">

      <div class="labelTitlePadding">
        <mat-form-field appearance="outline">
          <input matInput (keyup)="applyFilter($event)" placeholder="Search">
        </mat-form-field>
      </div>

      <div class="mobile-sort-buttons" *ngIf="isMobile">
        <button *ngFor="let col of displayedColumns"
                mat-button
                (click)="setSort(col)"
                [color]="sort?.active === col ? 'primary' : undefined"
                class="sort-btn">
          {{ getHeaderLabel(col) }}
          <mat-icon *ngIf="sort?.active === col">
            {{ sort?.direction === 'asc' ? 'arrow_upward' : 'arrow_downward' }}
          </mat-icon>
        </button>
      </div>

      @if (isSpinner) {
      <mat-progress-spinner mode="indeterminate"
                            color="primary"
                            diameter="50"
                            style="margin: 2rem auto; display: block;">
      </mat-progress-spinner>
      }

      @if (!isSpinner) {
      <div class="mat-elevation-z8 container">
        <table mat-table class="mat-table"
               [dataSource]="dataSource"
               matSort
               matSortActive="title"
               matSortDirection="asc">

          @for (column of displayedColumns; track column) {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ getHeaderLabel(column) }}
            </th>
            <td mat-cell *matCellDef="let element"
                class="responsive-cell"
                [attr.data-label]="getHeaderLabel(column)">
              @switch (column) {
              @case ('author') {
              @if (element.author) {
              {{ element.author.label }}
              } @else {
              <span class="text-muted">[Inconnu]</span>
              }
              @if (element.author?.id) {
              <button mat-icon-button
                      class="compact-icon-btn"
                      [routerLink]="'/item/' + element.author.id"
                      matTooltip="Voir l'auteur dans la base de données">
                <mat-icon color="primary" [inline]="true" class="small-icon">open_in_new</mat-icon>
              </button>
              }
              }
              @case ('title') {
              <span>{{ element.title.label }}</span>
              }
              @case ('location') {
              @if (element.location) {
              {{ element.location.label }}
              } @else {
              <span class="text-muted">[Inconnu]</span>
              }
              @if (element.location?.id) {
              <button mat-icon-button
                      class="compact-icon-btn"
                      [routerLink]="'/item/' + element.location.id"
                      matTooltip="Voir le lieu dans la base de données">
                <mat-icon color="primary" [inline]="true" class="small-icon">open_in_new</mat-icon>
              </button>
              }
              }
              @case ('date') {
              <span>{{ element.date.value }}</span>
              }
              @default {
              <span>{{ element[column] }}</span>
              }
              }
            </td>
          </ng-container>
          }

          <tr mat-header-row class="mat-header-row" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let biblio; columns: displayedColumns" class="responsive-row"></tr>
        </table>

        <mat-paginator #paginator
                       class="demo-paginator"
                       (page)="handlePageEvent($event)"
                       [length]="length"
                       [pageSize]="pageSize"
                       [disabled]="disabled"
                       [showFirstLastButtons]="showFirstLastButtons"
                       [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                       [hidePageSize]="hidePageSize"
                       [pageIndex]="pageIndex"
                       aria-label="Select page">
        </mat-paginator>
      </div>
      }

      <div>
        <span>
          <button mat-icon-button color="primary" class="internalLink" #content (click)="onClick(this.dataSource.filteredData)">
            <mat-icon color="primary" [inline]="true">download</mat-icon>
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
      </div>

    </mat-card-content>
  </mat-card>
</body>
